<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Giant bomb:</strong>
  <%= @game.giant_bomb_id %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @game.icon_url %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
