<h1>Listing bonds</h1>

<% @bonds.each do |bond| %>
  <div class='row'>
    <div class='col-md-3'><%= bond.source.name || 'Undefined' %></div>
    <div class='col-md-1'><%= bond.source.id || 'Undefined' %></div>
    <div class='col-md-3'><%= bond.target.name || 'Undefined' %></div>
    <div class='col-md-1'><%= bond.target.id || 'Undefined' %></div>
    <div class='col-md-4'><%= link_to 'Show', bond %> |
        <%= link_to 'Edit', edit_bond_path(bond) %> |
        <%= link_to 'Destroy', bond, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Bond', new_bond_path %>
